.navbar {
}

.hero {
    background: yellowgreen;
}

.container {
    margin: auto;
    max-width: 1440px;
    height: 100%;
    padding-left: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 3.5714)), 6rem);
    padding-right: clamp(2rem, calc(2rem + ((1vw - 0.32rem) * 3.5714)), 6rem);
}

.navbar-wrap {
    background-color: var(--clr-extra);
}

.hero-wrap {
}